<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="css">
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css"/>
</div>
</html>