<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navStyle bg-dark navbar-logo">
    <a class="navbar-brand" th:href="@{/}">
<!--        todo middle align-->
<!--        <img th:src="@{/images/citrusLogo.png}"/>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link disabled" th:href="@{/upgrades}">Upgrades</a>
            <a class="nav-item nav-link disabled" th:href="@{/accounting}">Accounting</a>
        </div>
    </div>
</nav>
</body>
</html>