:root{
    --jtc: "#ff2609";
}

.fadeIn{
    -webkit-animation: fadein ease 2s;
    -moz-animation: fadein ease 2s;
}

body{
    /*background-color: #191919;
    background: linear-gradient(90deg, rgba(196,85,5,1) 0%, rgba(255,162,67,1) 51%, rgba(196,85,5,1) 100%);
    background: linear-gradient(80deg, rgba(55, 72, 95, 0.9976365546218487) 0%, rgb(41, 62, 62) 100%);*/
    background: linear-gradient(90deg, #36496d 0%, #546888 50%, #36496d 100%);
    font-family: 'Montserrat', Arial;
}

p{
    color: white;
}

.nav-link.disabled{
    cursor: not-allowed;
}

.d-inline-grid{
    display: inline-grid;
}

.cardLabel{
    color: aliceblue;
    font-size: 14px;
}

#availableFunds{
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 3px 2px black;
}

#availableFundsDollarSign{
    color: #73da42;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 3px 2px black;
}

.navStyle{
    background-color: #5387d6!important;
    box-shadow: 0px 5px 12px 0px #31385a;
}

.cardStyle{
    /*background-color: #43d6bb*/
    /*background-color: #d64343;*/
    background-color: #43a7d6;
    box-shadow: 0px 4px 20px 0px black;
    border-radius: 10px;
}

.fa-star{
    font-size: 4rem;
    transform: rotate(8deg);
}

#currentLevel{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: 1px 3px 3px black;
    font-family: 'Nerko One', cursive;
}

#settings{
    font-size: 2rem;
    float: right;
    color: white;
    cursor: pointer;
}

.progress{
    background: rgba(227, 227, 227, 1);
    border: 0px solid rgba(242, 242, 242, 1);
    border-radius: 9px;
    height: 38px;
    margin-left: 10%;
    border: 2px #d25b4800 solid;
    box-shadow: 0px 1px 9px 0px #172438;
}

.cardProgress{
    height: 10px !important;
}

.progress-bar-custom{
    background: rgba(117, 21, 161, 1);
    background: -webkit-linear-gradient(top, rgba(236, 115, 240, 1) 0%, rgba(117, 21, 161, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 115, 240, 1) 0%, rgba(117, 21, 161, 1) 100%);
}

#welcomeModal .modal-header{
    border-bottom: 0;

}

#welcomeModal .modal-content, #noLoanModal .modal-content{
    box-shadow: 0px 0px 0px 3px #3edacc;
    background-color: #5387d6;
}

#welcomeModal p, #noLoanModal p, #noLoanModal .modalCloseBtn{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    color: white;
}

#welcomeModal .title, #noLoanModal .title{
    font-size: 2rem;
    text-shadow: 0px 3px black;
}

#welcomeModal btn{
    box-shadow: 0px 0px 9px 3px #304f7d;
}

#welcomeModal .buttonLogo{
    width: 100px;
    height: 100px;
    margin-left: 5%;
}

.cardTitle{
    color: white;
    font-size: 1.75rem;
    text-shadow: 1px 3px 3px black;
    font-family: 'Nerko One', cursive;
}